/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: "Inter-Variable", sans-serif;
  --accent-family: "Press Start 2P", sans-serif;
  --regular-wght: 400;
  --moregular-wght: 410;
  --morbold-wght: 715;
  --wdth: 100;
  --bg-grad: repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --stroke-color: #fff;
  --accent-color: #000;
  --animation-fill-color: #ff0000;
}
